<% provide(:title, "Dashboard") %>

<h2>Welcome to your Dashboard</h2>

<ul class="nav navbar-nav navbar-right">
  <li><%= link_to "Medevac Cases", medevaccases_path %></li>
  <li><%= link_to "Provider Posts", '#'%></li>
  <li><%= link_to "Directories", '#'%></li>
  <li><%= link_to "Open Cases", '#' %></li>

  <% if current_user.admin == true %>
    <li><%= link_to "Administration Area", rails_admin_path %></li>
    <li><p class="alert">Account Type: Admin</p></li>
  <% else %>

    <li><p class="alert">Account Type: Non-Admin</p></li>
  <% end %>

</ul>

<div class = "vertical-menu">
  <li><%= link_to "New Case", '#' %></li>
  <li><%= link_to "Directories", '#'%></li>
  <li><%= link_to "CaseMail", all_conversations_path %></li>

</div>


