<% provide(:title, "View Case") %>
<p id="notice"><%= notice %></p>



<p>
  <strong>Case Reference:</strong>
  <%= @medevaccase.id %>
</p>

<p>
  <strong>Case Owner Company:</strong>
  <%= @medevaccase.caseownercompany %>
</p>


<p>
  <strong>Case Owner Email:</strong>
  <%= @medevaccase.email %>
</p>


<div>
  <% for patient in @medevaccase.patients %>
    <p>
      <strong>[Patient] First Name:</strong>
        <%=h patient.fname %>
    </p>

    <p>
      <strong>[Patient] Last Name:</strong>
      <%=h patient.lname %>
    </p>

    <p>
      <strong>[Patient] DOB:</strong>
      <%=h patient.dob %>
    </p>

    <p>
      <strong>[Patient] Diagnosis:</strong>
      <%=h patient.diagnosis %>
    </p>

    <p>
      <strong>[Patient] Treatment:</strong>
      <%=h patient.treatment %>
    </p>

    <p>
      <strong>[Patient] Phone:</strong>
      <%=h patient.phone %>
    </p>

    <p>
      <strong>[Patient] Email:</strong>
      <%=h patient.email %>
    </p>

    <p>
      <strong>[Patient] Nationality:</strong>
      <%=h patient.nationality %>
    </p>
  <% end %>
</div>








<p>
  <strong>Case Category:</strong>
  <%= @medevaccase.catName %>
</p>

<p>
  <strong>Case Start Date:</strong>
  <%= @medevaccase.startDate %>
</p>

<p>
  <strong>Case Completion Date:</strong>
  <%= @medevaccase.completionDate %>
</p>

<p>
  <strong>To Country:</strong>
  <%= @medevaccase.toCountry %>
</p>

<p>
  <strong>From Country:</strong>
  <%= @medevaccase.fromCountry %>
</p>

<p>
  <strong>Current Hospital Name:</strong>
  <%= @medevaccase.currentHospitalName %>
</p>

<p>
  <strong>Current Hospital Address:</strong>
  <%= @medevaccase.currentHospitalAddress %>
</p>

<p>
  <strong>Receiving Hospital Name:</strong>
  <%= @medevaccase.receivingHospitalName %>
</p>

<p>
  <strong>Receiving Hospital Address:</strong>
  <%= @medevaccase.receivingHospitalAddress %>
</p>

<p>
  <strong>Case Notes:</strong>
  <textarea rows="4" cols="50" readonly>
  <%= @medevaccase.notes %>
  </textarea>
</p>

<p>
  <strong>Mission Complete:</strong>
  <%= @medevaccase.missioncomplete %>
</p>

<%= link_to 'Edit', edit_medevaccase_path(@medevaccase), class:"btn btn-info" %> |
<%= link_to 'Back', medevaccases_path, class:"btn btn-info" %>
