<% provide(:title, "View Case") %>
<p id="notice"><%= notice %></p>

<hr/>

<strong><h2>A. Case Owner Details</h2></strong>

<hr/>

<p>
  <strong>Case Reference:</strong>
  <%= @medevaccase.id %>
</p>

<p>
  <strong>Case Owner Company:</strong>
  <%= @medevaccase.caseownercompany %>
</p>


<p>
  <strong>Case Owner Email:</strong>
  <%= @medevaccase.email %>
</p>

<hr />

<strong><h2>B. Patient Details</h2></strong>

<hr />
<div>
  <% for patient in @medevaccase.patients %>
    <p>
      <strong>[Patient] First Name:</strong>
        <%=h patient.fname %>
    </p>

    <p>
      <strong>[Patient] Last Name:</strong>
      <%=h patient.lname %>
    </p>

    <p>
      <strong>[Patient] DOB:</strong>
      <%=h patient.dob %>
    </p>

    <p>
      <strong>[Patient] Diagnosis:</strong>
      <%=h patient.diagnosis %>
    </p>

    <p>
      <strong>[Patient] Treatment:</strong>
      <%=h patient.treatment %>
    </p>

    <p>
      <strong>[Patient] Phone:</strong>
      <%=h patient.phone %>
    </p>

    <p>
      <strong>[Patient] Email:</strong>
      <%=h patient.email %>
    </p>

    <p>
      <strong>[Patient] Nationality:</strong>
      <%=h patient.nationality %>
    </p>
  <% end %>
</div>

<hr/>

<strong><h2>C. Case Details</h2></strong>

<hr/>

<p>
  <strong>Case Category:</strong>
  <%= @medevaccase.catName %>
</p>

<p>
  <strong>Case Start Date:</strong>
  <%= @medevaccase.startDate %>
</p>

<p>
  <strong>Case Completion Date:</strong>
  <%= @medevaccase.completionDate %>
</p>

<p>
  <strong>To Country:</strong>
  <%= @medevaccase.toCountry %>
</p>

<p>
  <strong>From Country:</strong>
  <%= @medevaccase.fromCountry %>
</p>


<hr/>
<strong><h2>F. Accompanying Person(s) Details</h2></strong>

<hr/>
<div>
  <% for accompanyingperson in @medevaccase.accompanyingpeople %>
    <p>
      <strong>[Accompanying Person] Name:</strong>
      <%=h accompanyingperson.name %>
    </p>

    <p>
      <strong>[Accompanying Person] Phone:</strong>
      <%=h accompanyingperson.phone %>
    </p>

    <p>
      <strong>[Accompanying Person] Email:</strong>
      <%=h accompanyingperson.email %>
    </p>

    <p>
      <strong>[Accompanying Person] Nationality:</strong>
      <%=h accompanyingperson.nationality %>
    </p>

    <p>
      <strong>[Accompanying Person] Relationship:</strong>
      <%=h accompanyingperson.relationship %>
    </p>

    <p>
      <strong>[Accompanying Person] Consent Given:</strong>
      <%=h accompanyingperson.patientconsent %>
    </p>

  <% end %>
</div>

<hr/>
<strong><h2>G. Contact Person(s) Details</h2></strong>
<hr/>


<div>
  <% for contactperson in @medevaccase.contactpeople %>
    <p>
      <strong>[contact Person] Name:</strong>
      <%=h contactperson.name %>
    </p>

    <p>
      <strong>[Contact Person] Phone:</strong>
      <%=h contactperson.phone %>
    </p>

    <p>
      <strong>[Contact Person] Email:</strong>
      <%=h contactperson.email %>
    </p>

    <p>
      <strong>[Contact Person] Relationship:</strong>
      <%=h contactperson.relationship %>
    </p>

    <p>
      <strong>[Contact Person] Consent Given:</strong>
      <%=h contactperson.patientconsent %>
    </p>

  <% end %>
</div>


<hr/>
<strong><h2>H. Stakholder(s) Details</h2></strong>
<hr/>

<div>
  <% for stakeholder in @medevaccase.stakeholders %>
    <p>
      <strong>[Stakeholder] Name:</strong>
      <%=h stakeholder.name %>
    </p>

    <p>
      <strong>[Stakeholder] Phone:</strong>
      <%=h stakeholder.phone %>
    </p>

    <p>
      <strong>[Stakeholder] Email:</strong>
      <%=h stakeholder.email %>
    </p>

    <p>
      <strong>[Stakeholder] Relationship:</strong>
      <%=h stakeholder.relationship %>
    </p>

    <p>
      <strong>[Stakeholder] Consent Given:</strong>
      <%=h stakeholder.patientconsent %>
    </p>

  <% end %>
</div>







<p>
  <strong>Case Notes:</strong>
  <textarea rows="4" cols="50" readonly>
  <%= @medevaccase.notes %>
  </textarea>
</p>

<p>
  <strong>Mission Complete:</strong>
  <%= @medevaccase.missioncomplete %>
</p>

<%= link_to 'Pick', edit_medevaccase_path(@medevaccase), class:"btn btn-info" %> |
<%= link_to 'Back', medevaccases_path, class:"btn btn-info" %>
