<% provide(:title, "View Case") %>
<p id="notice"><%= notice %></p>



<p>
  <strong>Case Reference:</strong>
  <%= @medevaccase.id %>
</p>

<p>
  <strong>Case Owner Reference:</strong>
  <%= @medevaccase.user_id %>
</p>

<p>
  <strong>Case Owner Email:</strong>
  <%= @medevaccase.email %>
</p>

<p>
  <strong>Patient First Name:</strong>
  <%= @medevaccase.patientFname %>
</p>

<p>
  <strong>Patient Last Name:</strong>
  <%= @medevaccase.patientLname %>
</p>

<p>
  <strong>DOB:</strong>
  <%= @medevaccase.dob %>
</p>

<p>
  <strong>Diagnosis:</strong>
  <%= @medevaccase.diagnosis %>
</p>

<p>
  <strong>Treatment:</strong>
  <%= @medevaccase.treatment %>
</p>

<p>
  <strong>Case Category:</strong>
  <%= @medevaccase.catName %>
</p>

<p>
  <strong>Case Start Date:</strong>
  <%= @medevaccase.startDate %>
</p>

<p>
  <strong>Case Completion Date:</strong>
  <%= @medevaccase.completionDate %>
</p>

<p>
  <strong>To Country:</strong>
  <%= @medevaccase.toCountry %>
</p>

<p>
  <strong>From Country:</strong>
  <%= @medevaccase.fromCountry %>
</p>

<p>
  <strong>Current Hospital Name:</strong>
  <%= @medevaccase.currentHospitalName %>
</p>

<p>
  <strong>Current Hospital Address:</strong>
  <%= @medevaccase.currentHospitalAddress %>
</p>

<p>
  <strong>Receiving Hospital Name:</strong>
  <%= @medevaccase.receivingHospitalName %>
</p>

<p>
  <strong>Receiving Hospital Address:</strong>
  <%= @medevaccase.receivingHospitalAddress %>
</p>

<p>
  <strong>Case Notes:</strong>
  <%= @medevaccase.notes %>
</p>

<p>
  <strong>Mission Complete:</strong>
  <%= @medevaccase.missioncomplete %>
</p>

<%= link_to 'Edit', edit_medevaccase_path(@medevaccase), class:"btn btn-info" %> |
<%= link_to 'Back', medevaccases_path, class:"btn btn-info" %>
