<% provide(:title, "Log in") %>

<h1>Log in</h1>

<h2>Please enter your email and password to login</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>

      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>


    <% if devise_mapping.rememberable? -%>

      <%= f.check_box :remember_me, class: "checkbox inline" %>
      <%= f.label :remember_me %><br>

    <% end -%>


    <%= f.submit "Log in", class: "btn btn-primary"%>
<% end %>
    <br>
    <br>
    <p>Don't have an account? click on sign up to register.</p>

<%= render "devise/shared/links" %>